---
layout: partner
title: Docenti
order: 3
---

{% for docente in site.data.docenti %}
<div class="col-md-3">
        <h3 class="text-center">
            {% if docente.bio %}
            <a href="{{ docente.bio }}">
                {{ docente.name }}
            </a>
            {% else %}
                {{ docente.name }}
            {% endif %}
        </h3>
        {% if docente.foto %}
        <img class="img-responsive center-block" src="{{docente.foto | prepend: '/photo/'}}"/>
        {% else %}
        <img class="img-responsive center-block" src="{{ 'placeholder.jpg' | prepend: '/photo/'}}"/>
        {% endif %}

        {% if docente.logo %}
        <img class="img-responsive center-block" src="{{docente.logo | prepend: '/logo/'}}"/>
        {% endif %}
</div>

<hr>

{% endfor %}



