.vtemdrildown_wrapper{position:relative;}
.oDrill-wrapper ul, .oDrill-wrapper ul li, .oDrill-wrapper li, .oDrill-wrapper li ul, .oDrill-wrapper li ul li {margin:0; padding:0 !important; list-style:none !important;}
.oDrill-wrapper{width:100%; background-color:#222; color:#fff; padding:10px; overflow:hidden;}
.oDrill-wrapper .oDrill-menu{position: relative;overflow:hidden;}
.oDrill-wrapper .oDrill-menu ul{margin: 0; position: absolute; top: 0; right: 0;}
.oDrill-wrapper .oDrill-menu ul li{margin:0; padding:0; width:100%;}
.oDrill-wrapper .oDrill-menu a, .oDrill-wrapper .oDrill-menu .separator{display: block; color:#fff; padding:5px 5px; text-decoration:none; border-bottom:1px solid rgb(255,255,255); border-bottom:1px solid rgba(255,255,255,0.3);}
.oDrill-wrapper .oDrill-menu a:hover, .oDrill-wrapper .oDrill-menu .current > a{background-color:rgb(51,51,51); background-color:rgba(51,51,51,0.2) !important;}
.oDrill-wrapper .oDrill-menu a .oDrill-count{font-size:80%; opacity:0.6; margin-left:10px; padding-left:10px; border-left:1px solid rgba(255,255,255, 0.6);}
.oDrill-wrapper .oDrill-header{border-bottom:5px solid rgb(255,255,255); border-bottom:5px solid rgba(255,255,255,0.3);}
.oDrill-wrapper .oDrill-header li{display:inline-block;}
.oDrill-wrapper .oDrill-header li a{text-decoration:none; font-size:80%; color:#fff; opacity:0.8; background-color:transparent !important;}
.oDrill-wrapper .oDrill-header.oDrill-backlink a{padding:10px; display: block; font-size:80%; color:#fff; text-decoration:none; background-color:transparent !important;}
.oDrill-wrapper .oDrill-header.oDrill-backlink{border-bottom:none; background-color:rgb(0,0,0); background-color:rgba(0,0,0,0.5); padding:5px 0;}
.oDrill-wrapper .oDrill-header li a .oDrill-icon{float:left; display:block; padding:1px 6px;}
.oDrill-wrapper .oDrill-header h3{margin:0 !important; padding:5px 0 !important; font-size:120%; font-weight:normal;}
.oDrill-wrapper .oDrill-header.oDrill-backlink h3{display:none;}
.oDrill-wrapper .oDrill-header h3 .oDrill-icon{display:none;}
.oDrill-wrapper .oDrill-menu a .oDrill-icon, .oDrill-wrapper .oDrill-header.oDrill-backlink a .oDrill-icon{float:right; width:20px; height:20px; line-height:15px; display:block; border:1px solid #fff; border-radius:50%; text-align:center; opacity:0.5; *margin-top:-35px;}
.oDrill-wrapper .oDrill-header.oDrill-backlink a .oDrill-icon{float:left; margin-right:10px; margin-top:-3px;}
.oDrill-wrapper .oDrill-menu a:hover .oDrill-icon, .oDrill-wrapper .oDrill-header.oDrill-backlink a:hover .oDrill-icon{opacity:1;}
.drilldown-stick-btn{display: inline-block; padding:10px 20px; background-color:#333; color:#fff; cursor:pointer;}
.oDrill-wrapper.drilldown-stick{position:absolute; z-index:10; top:36px; left:-999em;}

/*//////////////STYLES///////////////////*/
.modstyle0.vtem-drill-style1 .oDrill-wrapper{background-color: #F60;}
.modstyle0.vtem-drill-style2 .oDrill-wrapper{background-color: #0C9;}
.modstyle0.vtem-drill-style3 .oDrill-wrapper{background-color: #09F;}
.modstyle0.vtem-drill-style4 .oDrill-wrapper{background-color: #C30;}
.modstyle0.vtem-drill-style5 .oDrill-wrapper{background-color: #C3F;}
.modstyle0.vtem-drill-style6 .oDrill-wrapper{background-color: #066;}

