<div class="row">
    <div class="col-md-12">
     <table>
  <tr>
    <th><img src="/logo/sponsor/selex-es-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/diten-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/dibris-q.gif" style="height:40%;"></th>
	<th><img src="/logo/sponsor/cnr-q.gif" style="height:40%;"></th>
    <td><img src="/logo/sponsor/ansaldo-sts.gif" style="height:40%;"></td>
    <th><img src="/logo/sponsor/ABB-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/minded_security.png" style="height:40%;"></th>
    <th><img src="/logo/sponsor/life-augmented-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/poste-italiane-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/nis.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/grupposigla-q.gif" style="height:40%;"></th>
  </tr>
  <tr>
    <td><img src="/logo/sponsor/aizoon-q.gif" style="height:40%;"></td>
    <td><img src="/logo/sponsor/reality-net-q2.gif" style="height:40%;"></td>
    <td><img src="/logo/sponsor/Fastweb.gif" style="height:40%;"></td>
    <td><img src="/logo/sponsor/tiger-security.gif" style="height:40%;"></td>
	<th><img src="/logo/sponsor/fondazione-bruno-kessler-q.gif" style="height:40%;"></th>
    <td><img src="/logo/sponsor/finmeccanicabig.gif" style="height:40%;"></td>
    <td><img src="/logo/sponsor/AEN.gif" style="height:40%;"></td>
    <td><img src="/logo/sponsor/talos-q.png" style="height:40%;"></td>
    <td><img src="/logo/sponsor/intellium-q.png" style="height:40%;"></td>
    <td><img src="/logo/sponsor/deloitte-q.png" style="height:40%;"></td>
  </tr>
</table>
    </div>
</div>
