<div class="row">
    <div class="col-md-12">
     <table>
  <tr>
    <th><img src="/logo/sponsor/selex-es-q.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:50%;"></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
    </div>
</div>
