<div class="row">
    <div class="col-md-12">
     <table>
  <tr>
    <th><img src="/logo/sponsor/selex-es-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/ibm-big.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/diten-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/dibris-q.gif" style="height:40%;"></th>
	<th><img src="/logo/sponsor/cnr-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/fondazione-bruno-kessler-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/ABB-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/minded_security.png" style="height:40%;"></th>
    <th><img src="/logo/sponsor/life-augmented-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/poste-italiane-q.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/nis.gif" style="height:40%;"></th>
    <th><img src="/logo/sponsor/grupposigla-q.gif" style="height:40%;"></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
    </div>
</div>
